<p id="notice"><%= notice %></p>

<p>
  <strong>Spread:</strong>
  <%= @state.spread %>
</p>

<p>
  <strong>Establ:</strong>
  <%= @state.establ %>
</p>

<p>
  <strong>Build:</strong>
  <%= @state.build %>
</p>

<p>
  <strong>Happy:</strong>
  <%= @state.happy %>
</p>

<p>
  <strong>Time:</strong>
  <%= @state.time %>
</p>

<p>
  <strong>Transformers:</strong>
  <%= @state.transformers %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
