<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @move.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @move.description %>
</p>

<p>
  <strong>Spread:</strong>
  <%= @move.spread %>
</p>

<p>
  <strong>Establ:</strong>
  <%= @move.establ %>
</p>

<p>
  <strong>Build:</strong>
  <%= @move.build %>
</p>

<p>
  <strong>Happy:</strong>
  <%= @move.happy %>
</p>

<p>
  <strong>Time:</strong>
  <%= @move.time %>
</p>

<p>
  <strong>Transformers:</strong>
  <%= @move.transformers %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
