<!DOCTYPE html>
<html>
<head>
  <title>Transformation</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span4 left_green">
        <div class="icons_explained">
          <%= image_tag "icons/spread.png" %> Verbreitung der Idee des Anarchismus<br/>
          <%= image_tag "icons/establ.png" %> Etablierung anarchistischer Verhaltensmuster<br/>
          <%= image_tag "icons/build.png" %> Aufbau anarchistischer Infrastruktur<br/>
          <%= image_tag "icons/happy.png" %> Wohlfühlfaktor innerhalb der Aktiven<br/>
          <%= image_tag "icons/time.png" %> Verfügbare Zeit<br/>
          <%= image_tag "icons/transformers.png" %> Zahl der Transformierenden<br/>
        </div>
      </div>
      <div class="span8">
        <div class="row">
          <div class="span6 header"></div>
        </div>
        <div class="row">
          <div class="span6">
            <div class="content">
              <%= yield %>
            </div>
          </div>
          <div class="span2 right_green"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
